package main

import (
	"net/http"
    "log"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
    "github.com/cvhariharan/test-crud/model"
    "github.com/cvhariharan/test-crud/repo"

    "github.com/swaggo/echo-swagger"
	_ "github.com/swaggo/echo-swagger/example/docs"
)

type handler struct {
    repository repo.{{ Title .ModelName }}Repo
}

func NewHandler(repository repo.{{ Title .ModelName }}Repo) *handler {
    return &handler {
        repository,
    }
}

// Create {{Title .ModelName}}
// @Summary Create {{Title .ModelName}}
// @Description Create {{Title .ModelName}} by POST
// @ID create-{{ .ModelName }}
// @Accept  json
// @Produce  json
// @Param   {{.ModelName}}  body  model.{{Title .ModelName }} true  "{{Title .ModelName}}"
// @Success 201 {string} string	"Created"
// @Failure 500 {object} string "Some error occured"
// @Router /{{.ModelName}}s [post]
func (h *handler) create{{ Title .ModelName }}(c echo.Context) error {
    var m model.{{ Title .ModelName }}
    if err := c.Bind(&m); err != nil {
        log.Println(err)
		return err
	}

    // ADD BUSINESS LOGIC HERE IF REQUIRED

    id, err := h.repository.Insert(m)
    if err != nil {
        log.Println(err)
        return err
    }
    m.ID = id
    return c.JSON(http.StatusCreated, m)
}

// Get {{Title .ModelName}}
// @Summary Get {{Title .ModelName}}
// @Description Get {{Title .ModelName}} by GET
// @ID get-{{ .ModelName }}
// @Accept  json
// @Produce  json
// @Param   id  path  string true  "{{Title .ModelName}} ID"
// @Success 201 {string} string	"Ok"
// @Failure 400 {object} string "Bad Request, param empty"
// @Failure 500 {object} string "Some error occured"
// @Router /{{.ModelName}}s/{id} [get]
func (h *handler) get{{ Title .ModelName }}(c echo.Context) error {
    id := c.Param("id")
    if id == "" {
        log.Println("ID param is empty")
        return c.NoContent(http.StatusBadRequest)
    }

    m, err := h.repository.Get(id)
    if err != nil {
        log.Println(err)
        return err
    }
    return c.JSON(http.StatusOK, m)
}

// Update {{Title .ModelName}}
// @Summary Update {{Title .ModelName}}
// @Description Update {{Title .ModelName}} by PUT
// @ID update-{{ .ModelName }}
// @Accept  json
// @Produce  json
// @Param   {{.ModelName}}  body  model.{{Title .ModelName }} true  "{{Title .ModelName}}"
// @Success 200 {string} string	"Ok"
// @Failure 500 {object} string "Some error occured"
// @Router /{{.ModelName}}s [put]
func (h *handler) update{{ Title .ModelName }}(c echo.Context) error {
    var m model.{{ Title .ModelName }}
    if err := c.Bind(&m); err != nil {
		return err
	}

    // ADD BUSINESS LOGIC HERE IF REQUIRED

    err := h.repository.Update(m)
    if err != nil {
        log.Println(err)
        return err
    }

    m, err = h.repository.Get(m.ID)
    if err != nil {
        log.Println(err)
        return err
    }

    return c.JSON(http.StatusOK, m)
}

// Delete {{Title .ModelName}}
// @Summary Delete {{Title .ModelName}}
// @Description Delete {{Title .ModelName}} by DELETE
// @ID delete-{{ .ModelName }}
// @Accept  json
// @Produce  json
// @Param   id  path  string true  "{{Title .ModelName}} ID"
// @Success 201 {string} string	"Ok"
// @Failure 400 {object} string "Bad Request, param empty"
// @Failure 500 {object} string "Some error occured"
// @Router /{{.ModelName}}s/{id} [delete]
func (h *handler) delete{{ Title .ModelName }}(c echo.Context) error {
    id := c.Param("id")
    if id == "" {
        log.Println("ID param is empty")
        return c.NoContent(http.StatusBadRequest)
    }

    err := h.repository.Delete(id)
    if err != nil {
        log.Println(err)
        return err
    }

    return c.NoContent(http.StatusOK)
}

// func getAll{{ Title .ModelName }}(c echo.Context) error {
//    
// }


// @title {{Title .ModelName}} CRUD API
// @version 1.0
// @description This is a spanner generated CRUD API

// @license.name Apache 2.0
// @license.url http://www.apache.org/licenses/LICENSE-2.0.html

// @host localhost:5000

func main() {
	e := echo.New()

	// Middleware
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())
    e.Use(middleware.CSRFWithConfig(middleware.CSRFConfig{
    TokenLookup: "header:X-XSRF-TOKEN",
    }))

    e.GET("/swagger/*", echoSwagger.WrapHandler)

    uri := "mongodb://mongoadmin:secret@localhost:27017"
    
    repo, err := repo.NewMongoRepo(uri, "crud", "{{ TitleLower .ModelName }}")
    if err != nil {
        log.Fatal(err)
    }
    h := NewHandler(repo)

	// Routes
	// e.GET("/{{.ModelName}}s", h.getAllUsers)
	e.POST("/{{.ModelName}}s", h.create{{ Title .ModelName }})
	e.GET("/{{.ModelName}}s/:id", h.get{{ Title .ModelName }})
	e.PUT("/{{.ModelName}}s", h.update{{ Title .ModelName }})
	e.DELETE("/{{.ModelName}}s/:id", h.delete{{ Title .ModelName }})

	// Start server
	e.Logger.Fatal(e.Start(":5000"))
}